{% extends "base.html" %}

{% load static %}


{% block title %}
Create Account | Bella Italia
{% endblock %}


{% block extra_css %}

<link
    rel="stylesheet"
    href="{% static 'css/pages/account.css' %}"
>

{% endblock %}


{% block content %}

<section class="account-page">

    <div class="container">

        <div class="account-page__wrapper">

            <!-- ================================
                    PAGE HEADER
            ================================= -->

            <div class="account-page__header">

                <span class="account-page__subtitle">
                    BELLA ITALIA
                </span>

                <h1 class="account-page__title">
                    Create Your Account
                </h1>

                <p class="account-page__description">
                    Join Bella Italia and enjoy a more personalized
                    dining experience.
                </p>

            </div>


            <!-- ================================
                    REGISTER FORM
            ================================= -->

            <div class="account-form-wrapper">

                <form
                    method="post"
                    class="form account-form"
                >

                    {% csrf_token %}


                    <!-- GENERAL ERRORS -->

                    {% if form.non_field_errors %}

                        <div class="form__error form__error--general">

                            {% for error in form.non_field_errors %}

                                <span>
                                    {{ error }}
                                </span>

                            {% endfor %}

                        </div>

                    {% endif %}


                    <!-- USERNAME -->

                    <div class="form__group">

                        <label
                            for="{{ form.username.id_for_label }}"
                            class="form__label"
                        >
                            Username
                        </label>

                        <input
                            type="text"
                            name="{{ form.username.name }}"
                            id="{{ form.username.id_for_label }}"
                            class="form__input{% if form.username.errors %} form__input--error{% endif %}"
                            value="{{ form.username.value|default:'' }}"
                            autocomplete="username"
                            required
                        >

                        {% if form.username.errors %}

                            <div class="form__error">

                                {% for error in form.username.errors %}

                                    <span>
                                        {{ error }}
                                    </span>

                                {% endfor %}

                            </div>

                        {% endif %}

                    </div>


                    <!-- FIRST / LAST NAME -->

                    <div class="account-form__row">

                        <div class="form__group">

                            <label
                                for="{{ form.first_name.id_for_label }}"
                                class="form__label"
                            >
                                First Name
                            </label>

                            <input
                                type="text"
                                name="{{ form.first_name.name }}"
                                id="{{ form.first_name.id_for_label }}"
                                class="form__input{% if form.first_name.errors %} form__input--error{% endif %}"
                                value="{{ form.first_name.value|default:'' }}"
                                autocomplete="given-name"
                            >

                            {% if form.first_name.errors %}

                                <div class="form__error">

                                    {% for error in form.first_name.errors %}

                                        <span>
                                            {{ error }}
                                        </span>

                                    {% endfor %}

                                </div>

                            {% endif %}

                        </div>


                        <div class="form__group">

                            <label
                                for="{{ form.last_name.id_for_label }}"
                                class="form__label"
                            >
                                Last Name
                            </label>

                            <input
                                type="text"
                                name="{{ form.last_name.name }}"
                                id="{{ form.last_name.id_for_label }}"
                                class="form__input{% if form.last_name.errors %} form__input--error{% endif %}"
                                value="{{ form.last_name.value|default:'' }}"
                                autocomplete="family-name"
                            >

                            {% if form.last_name.errors %}

                                <div class="form__error">

                                    {% for error in form.last_name.errors %}

                                        <span>
                                            {{ error }}
                                        </span>

                                    {% endfor %}

                                </div>

                            {% endif %}

                        </div>

                    </div>


                    <!-- EMAIL -->

                    <div class="form__group">

                        <label
                            for="{{ form.email.id_for_label }}"
                            class="form__label"
                        >
                            Email
                        </label>

                        <input
                            type="email"
                            name="{{ form.email.name }}"
                            id="{{ form.email.id_for_label }}"
                            class="form__input{% if form.email.errors %} form__input--error{% endif %}"
                            value="{{ form.email.value|default:'' }}"
                            autocomplete="email"
                            required
                        >

                        {% if form.email.errors %}

                            <div class="form__error">

                                {% for error in form.email.errors %}

                                    <span>
                                        {{ error }}
                                    </span>

                                {% endfor %}

                            </div>

                        {% endif %}

                    </div>


                    <!-- PASSWORD -->

                    <div class="form__group">

                        <label
                            for="{{ form.password1.id_for_label }}"
                            class="form__label"
                        >
                            Password
                        </label>

                        <input
                            type="password"
                            name="{{ form.password1.name }}"
                            id="{{ form.password1.id_for_label }}"
                            class="form__input{% if form.password1.errors %} form__input--error{% endif %}"
                            autocomplete="new-password"
                            required
                        >

                        {% if form.password1.errors %}

                            <div class="form__error">

                                {% for error in form.password1.errors %}

                                    <span>
                                        {{ error }}
                                    </span>

                                {% endfor %}

                            </div>

                        {% endif %}

                    </div>


                    <!-- PASSWORD CONFIRMATION -->

                    <div class="form__group">

                        <label
                            for="{{ form.password2.id_for_label }}"
                            class="form__label"
                        >
                            Confirm Password
                        </label>

                        <input
                            type="password"
                            name="{{ form.password2.name }}"
                            id="{{ form.password2.id_for_label }}"
                            class="form__input{% if form.password2.errors %} form__input--error{% endif %}"
                            autocomplete="new-password"
                            required
                        >

                        {% if form.password2.errors %}

                            <div class="form__error">

                                {% for error in form.password2.errors %}

                                    <span>
                                        {{ error }}
                                    </span>

                                {% endfor %}

                            </div>

                        {% endif %}

                    </div>


                    <!-- SUBMIT -->

                    <button
                        type="submit"
                        class="form__button"
                    >

                        Create Account

                        <i class="bi bi-arrow-right"></i>

                    </button>

                </form>


                <!-- FORM FOOTER -->

                <div class="account-form__footer">

                    <span>
                        Already have an account?
                    </span>

                    <a href="{% url 'account:login' %}">
                        Sign In
                    </a>

                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}