/* ==========================================
   RESTAURANT DESIGN SYSTEM
   ========================================== */

:root {

    /* ==========================
       COLORS
    ========================== */

    --color-primary: #C9A227;
    --color-primary-hover: #A8841F;

    --color-background: #111111;
    --color-surface: #1A1A1A;
    --color-card: #222222;

    --color-text: #F8F5F2;
    --color-text-muted: #BDBDBD;

    --color-border: #333333;

    --color-success: #2E7D32;
    --color-danger: #C62828;

    /* ==========================
       TYPOGRAPHY
    ========================== */

    --font-heading: "Cinzel", serif;
    --font-body: "Poppins", sans-serif;

    /* ==========================
       FONT SIZE
    ========================== */

    --fs-xs: 0.75rem;
    --fs-sm: 0.875rem;
    --fs-md: 1rem;
    --fs-lg: 1.125rem;
    --fs-xl: 1.5rem;
    --fs-2xl: 2rem;
    --fs-3xl: 3rem;
    --fs-4xl: 4rem;

    /* ==========================
       FONT WEIGHT
    ========================== */

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    /* ==========================
       SPACING
    ========================== */

    --space-xs: .25rem;
    --space-sm: .5rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;
    --space-2xl: 3rem;
    --space-3xl: 5rem;
    --space-section: 100px;

    /* ==========================
       BORDER RADIUS
    ========================== */

    --radius-sm: 6px;
    --radius-md: 12px;
    --radius-lg: 20px;
    --radius-xl: 30px;
    --radius-pill: 999px;

    /* ==========================
       SHADOW
    ========================== */

    --shadow-sm:
        0 4px 10px rgba(0,0,0,.15);

    --shadow-md:
        0 8px 20px rgba(0,0,0,.25);

    --shadow-lg:
        0 15px 40px rgba(0,0,0,.35);

    /* ==========================
       TRANSITION
    ========================== */

    --transition-fast: .2s ease;
    --transition-normal: .3s ease;
    --transition-slow: .5s ease;

    /* ==========================
       CONTAINER
    ========================== */

    --container-width: 1320px;

    /* ==========================
       HEADER
    ========================== */

    --header-height: 90px;
    --navbar-height: 90px;

    /* ==========================
       Z INDEX
    ========================== */

    --z-dropdown: 100;
    --z-sticky: 500;
    --z-fixed: 700;
    --z-modal: 1000;

    /* ==========================
    LAYERS
    ========================== */

    --overlay-dark: rgba(0, 0, 0, .70); 
    --overlay-light: rgba(255, 255, 255, .08);    
}

   