{% load static %}

<footer class="footer">

    <div class="container">

        <div class="footer__content">

            <div class="footer__brand">

                <h3> {{ restaurant.name }} </h3>

                <p>
                    Authentic Italian cuisine crafted with passion,
                    fresh ingredients and unforgettable flavors.
                </p>

            </div>

            <div class="footer__links">

                <a href="{% url 'home' %}">Home</a>

                <a href="{% url 'menu' %}">Menu</a>

                <a href="{% url 'about' %}">About</a>

                <a href="#">Contact</a>

            </div>

            <div class="footer__social">

                <a href="#"><i class="bi bi-instagram"></i></a>

                <a href="#"><i class="bi bi-facebook"></i></a>

                <a href="#"><i class="bi bi-twitter-x"></i></a>

            </div>

        </div>

        <div class="footer__bottom">

            <p>

                © 2026 {{ restaurant.name }}. All rights reserved.

            </p>
            <p>
                 Designed & Developed by 

                 <a href="https://github.com/njfcore" target="_blank" rel="noopener noreferrer">

                    njfcore

                </a>
            </p>

        </div>

    </div>

</footer>