<header class="header" id="site-header">

    <div class="container">

        <div class="header__container">

            <!-- Brand -->

            <a href="#" class="header__brand">

                <div class="header__logo">

                    <i class="bi bi-egg-fried"></i>

                </div>

                <div class="header__brand-text">

                    <span class="header__title">
                        {{ restaurant.name }}
                    </span>

                    <span class="header__subtitle">
                        Authentic Italian Cuisine
                    </span>

                </div>

            </a>

            <!-- Navigation -->

            <nav class="header__nav" id="primary-navigation">

                <ul class="header__menu">

                    <li class="header__item">
                        <a href="#" class="header__link header__link--active">
                            Home
                        </a>
                    </li>

                    <li class="header__item">
                        <a href="#" class="header__link">
                            Menu
                        </a>
                    </li>

                    <li class="header__item">
                        <a href="{% url 'about' %}" class="header__link">
                            About
                        </a>
                    </li>

                    <li class="header__item">
                        <a href="#" class="header__link">
                            Gallery
                        </a>
                    </li>

                    <li class="header__item">
                        <a href="#" class="header__link">
                            Reservation
                        </a>
                    </li>

                    <li class="header__item">
                        <a href="#" class="header__link">
                            Contact
                        </a>
                    </li>

                </ul>



            </nav>

            <div class="header__backdrop"></div>

            <!-- Actions -->

            <div class="header__actions">



                <button class="header__toggle" type="button" aria-label="Toggle navigation" aria-expanded="false"
                    aria-controls="primary-navigation">

                    <span></span>
                    <span></span>
                    <span></span>

                </button>

            </div>

        </div>

    </div>

</header>