{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

      <meta charset="UTF-8">

      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <meta name="description" content="Authentic Italian Restaurant">

      <meta name="author" content="Amir Reza">

      <title>
            {% block title %}
            Bella Italia
            {% endblock %}
      </title>

      <!-- Google Fonts -->

      <link rel="preconnect" href="https://fonts.googleapis.com">

      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

      <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap"
            rel="stylesheet">

      <!-- Bootstrap -->

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

      <!-- Bootstrap Icons -->

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

      <!-- CSS -->

      <link rel="stylesheet" href="{% static 'css/variables.css' %}">
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      <link rel="stylesheet" href="{% static 'css/layout.css' %}">
      <link rel="stylesheet" href="{% static 'css/utilities.css' %}">

      <link rel="stylesheet" href="{% static 'css/components/navbar.css' %}">
      <link rel="stylesheet" href="{% static 'css/components/buttons.css' %}">
      <link rel="stylesheet" href="{% static 'css/components/cards.css' %}">
      <link rel="stylesheet" href="{% static 'css/components/forms.css' %}">
      <link rel="stylesheet" href="{% static 'css/components/footer.css' %}">

      <link rel="stylesheet" href="{% static 'css/pages/home.css' %}">
      <link rel="stylesheet" href="{% static 'css/pages/about.css' %}">
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

</head>

<body class="site">


      {% include "includes/navbar.html" %}

      <main>

            {% block content %}

            {% endblock %}

      </main>

      {% include "includes/footer.html" %}

      {% include "includes/scripts.html" %}

</body>

</html>